# SQL Connection to Python

In [1]:
# Include Library for connection of Mysql to python
import mysql.connector

In [4]:
# Call Connect() to establish the connection between Mysql Database and Python
mydb = mysql.connector.connect(host = "localhost", user = "root", passwd = "Shreya13@")

In [5]:
# To Check Connction of Database
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000124C8A75288>

In [6]:
# We have create our Database
# To use cursor() method => SQL cursor is a database object
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE Database_python;")

In [10]:
mydb = mysql.connector.connect(host = "localhost", user = "root", passwd = "Shreya13@")
mycursor = mydb.cursor()
# To check Database has created or NOT
mycursor.execute("SHOW DATABASES;")
# To Show the database which are available in Mysql server
for i in mycursor:
    print(i)

('classicmodels',)
('database_python',)
('employee',)
('information_schema',)
('mysql',)
('performance_schema',)
('python_db',)
('python_db_one',)
('python_db_one_1',)
('santosh',)
('sys',)
('world',)

In [11]:
# Now We have uses  Created Database 
mydb = mysql.connector.connect(host = "localhost", user = "root", passwd = "Shreya13@", database = 'database_python')
mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE driver(name VARCHAR(50), Address VARCHAR(100),Mobile_no INT(11))")

In [13]:
# To Check,  if a table exist by listing all tables in your database
mydb = mysql.connector.connect(host = "localhost", user = "root", passwd = "Shreya13@", database = 'database_python')
mycursor = mydb.cursor()
mycursor.execute("SHOW TABLES ")
for x in mycursor:
    print(x)

('driver',)

In [16]:
# Create Another Table in Same database
mydb = mysql.connector.connect(host = "localhost", user = "root", passwd = "Shreya13@", database = 'database_python')
mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE Vendor(Name VARCHAR(50), Address VARCHAR(100),Mobile_no INT(11),Location VarCHAR(50),Renmark VARCHAR (255))")

In [17]:
# To listing all tables in your database
mydb = mysql.connector.connect(host = "localhost", user = "root", passwd = "Shreya13@", database = 'database_python')
mycursor = mydb.cursor()
mycursor.execute("SHOW TABLES ")
for x in mycursor:
    print(x)

('driver',)
('vendor',)

In [18]:
# Create one more  Table in Same database 
mydb = mysql.connector.connect(host = "localhost", user = "root", passwd = "Shreya13@", database = 'database_python')
mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE Client(Client_id INT AUTO_INCREMENT PRIMARY KEY,Name VARCHAR(50), Address VARCHAR(100),Mobile_no INT(11),Location VarCHAR(50),Area VARCHAR (255))")

In [19]:
# To listing all tables in your database
mydb = mysql.connector.connect(host = "localhost", user = "root", passwd = "Shreya13@", database = 'database_python')
mycursor = mydb.cursor()
mycursor.execute("SHOW TABLES ")
for x in mycursor:
    print(x)

('client',)
('driver',)
('vendor',)

In [20]:
# Modified The Driver Table
#  Use Alter Command to modified exist table
mydb = mysql.connector.connect(host = "localhost", user = "root", passwd = "Shreya13@", database = 'database_python')
mycursor = mydb.cursor()
# Modification on Driver Table to add primer key
mycursor.execute("ALTER TABLE driver ADD COLUMN Driver_id INT AUTO_INCREMENT PRIMARY KEY")

In [28]:
# Modified The Driver Table
#  Use Alter Command to modified exist table
mydb = mysql.connector.connect(host = "localhost", user = "root", passwd = "Shreya13@", database = 'database_python')
mycursor = mydb.cursor()
# Modification on Driver Table to add primer key
mycursor.execute("ALTER TABLE driver DROP COLUMN Driver_id ")

# Insert Data into Table

In [31]:
# Insert Data into Driver Table
mydb = mysql.connector.connect(host = "localhost", user = "root", passwd = "Shreya13@", database = 'database_python')
mycursor = mydb.cursor()

# insert Single Record in Driver  Table
sql = "INSERT INTO driver (name, Address,Mobile_no) VALUES (%s, %s,%s)"
val = ("Rajn", "Toll Plaza 27",'78459857')
mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount, "record inserted.")

1 record inserted.

In [33]:
# Insert Multiple Records in Driver Table
mydb = mysql.connector.connect(host = "localhost", user = "root", passwd = "Shreya13@", database = 'database_python')
mycursor = mydb.cursor()
sql = "INSERT INTO driver (name, Address,Mobile_no) VALUES (%s, %s,%s)"
val = [
  ('Peter', 'Lowstreet 4','8564784'),
  ('Amy', 'Apple st 652','7845121'),
  ('Hannah', 'Mountain 21','1245987'),
  ('Michael', 'Valley 345','1245987'),
  ('Sandy', 'Ocean blvd 2','315478'),
  ('Betty', 'Green Grass 1','569847'),
  ('Richard', 'Sky st 331','213547'),
  ('Susan', 'One way 98','1245874'),
  ('Vicky', 'Yellow Garden 2','1245987'),
  ('Ben', 'Park Lane 38','985472'),
  ('William', 'Central st 954','659478'),
  ('Chuck', 'Main Road 989','1245987'),
  ('Viola', 'Sideway 1633','1847121')
]

mycursor.executemany(sql, val)

mydb.commit()

print(mycursor.rowcount, "record inserted.")

13 record inserted.

In [35]:
# To Display the data from Driver Table
mydb = mysql.connector.connect(host = "localhost", user = "root", passwd = "Shreya13@", database = 'database_python')
mycursor = mydb.cursor()
mycursor.execute("SELECT * FROM driver ")
for x in mycursor:
    print(x)
print(mycursor.rowcount, "record Available.")

('John', 'Highway 21', 854679521)
('John', 'Highway 21', 854679521)
('John', 'Highway 21', 854679521)
('Rajn', 'Toll Plaza 27', 78459857)
('Peter', 'Lowstreet 4', 8564784)
('Amy', 'Apple st 652', 7845121)
('Hannah', 'Mountain 21', 1245987)
('Michael', 'Valley 345', 1245987)
('Sandy', 'Ocean blvd 2', 315478)
('Betty', 'Green Grass 1', 569847)
('Richard', 'Sky st 331', 213547)
('Susan', 'One way 98', 1245874)
('Vicky', 'Yellow Garden 2', 1245987)
('Ben', 'Park Lane 38', 985472)
('William', 'Central st 954', 659478)
('Chuck', 'Main Road 989', 1245987)
('Viola', 'Sideway 1633', 1847121)
17 record Available.