# Connection of SQL database in Python

In [6]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="Shreya13@"
)

In [2]:
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000183BAC39348>

In [7]:
# Create New Datadases
# Check whether databases are available or NOT
import mysql.connector
mydb=mysql.connector.connect(host ="localhost",user ="root", passwd ="Shreya13@")

mycursor = mydb.cursor()
mycursor.execute(" SHOW DATABASES")
for i in mycursor:
    print(i)

('classicmodels',)
('employee',)
('information_schema',)
('mysql',)
('performance_schema',)
('python_db',)
('python_db_one',)
('santosh',)
('sys',)
('world',)

In [8]:
# Create New Databases
mycursor.execute("CREATE DATABASE Python_DB_one_1")

In [9]:
mycursor.execute(" SHOW DATABASES")
for i in mycursor:
    print(i)

('classicmodels',)
('employee',)
('information_schema',)
('mysql',)
('performance_schema',)
('python_db',)
('python_db_one',)
('python_db_one_1',)
('santosh',)
('sys',)
('world',)

In [14]:
# Create Table in Data base

mydb=mysql.connector.connect(host ="localhost",user ="root", passwd ="Shreya13@",database="python_db_one_1")
mycursor = mydb.cursor()

In [15]:
mycursor.execute("CREATE TABLE Employee_t (name VARCHAR(255), address VARCHAR(255), mobile_no INT(10),Emp_ID INT(5))")

In [17]:
mydb=mysql.connector.connect(host ="localhost",user ="root", passwd ="Shreya13@",database="python_db_one_1")
mycursor = mydb.cursor()

sql = "INSERT INTO Employee_t (name, address, mobile_no,Emp_ID) VALUES (%s, %s, %s,%s)"
val = ("Amol", "Yavatmal 21",'875948759','101')
mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount, "record inserted.")

1 record inserted.

In [18]:
mycursor.execute("SELECT * FROM Employee_t")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('Amol', 'Yavatmal 21', 875948759, 101)

In [ ]:
# Insert Many Rows at a time in  an Employee table
mydb = mysql.connector.connect(host ="localhost",user ="root", passwd ="Shreya13@",database="python_db_one")
mycursor = mydb.cursor()
sql = "INSERT INTO Employee (name, address, mobile_no) VALUES (%s, %s, %s)"
val = [
  ('Peter', 'Lowstreet 4','85478521'),
  ('Amy', 'Apple st 652','78945125'),
  ('Hannah', 'Mountain 21','512423'),
  ('Michael', 'Valley 345','1254874'),
  ('Sandy', 'Ocean blvd 2','4517854'),
  ('Betty', 'Green Grass 1','5722626'),
  ('Richard', 'Sky st 331','5757243'),
  ('Susan', 'One way 98','26189788'),
  ('Vicky', 'Yellow Garden 2','6718729'),
  ('Ben', 'Park Lane 38','90191829'),
  ('William', 'Central st 954','893416736'),
  ('Chuck', 'Main Road 989','78710990'),
  ('Viola', 'Sideway 1633','5648124')
]
mycursor.executemany(sql,val)
mydb.commit()
print(mycursor.rowcount,"Record Inserted")

In [ ]:
mycursor.execute("SHOW TABLES")

for x in mycursor:
  print(x)

In [ ]:
mycursor.execute("SELECT * FROM employee")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

In [ ]:
sql = "INSERT INTO Employee (name, address, mobile_no) VALUES (%s, %s, %s)"
val = ("Rakesh", "Nashik 06",'12458756')
mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount, "record inserted.")

In [ ]:
mycursor.execute("SELECT * FROM employee")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

In [ ]:
sql = "DELETE FROM employee WHERE mobile_no = '875948759'"

mycursor.execute(sql)

mydb.commit()

print(mycursor.rowcount, "record(s) deleted")

In [ ]:
mycursor.execute("SELECT * FROM employee")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

In [ ]:
sql = "SELECT * FROM employee ORDER BY name"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

In [ ]:
sql = "SELECT * FROM employee ORDER BY mobile_no "

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

In [ ]:
import mysql.connector as sql_c
mydb= sqlc.connect(host="localhost",user="root",passwd="Shreya13@", database="python_db_one")
mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM employee LIMIT 2")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

In [ ]:

import mysql.connector as sql_c
mydb= sqlc.connect(host="localhost",user="root",passwd="Shreya13@", database="python_db_one")
mycursor = mydb.cursor()

mycursor.execute("ALTER TABLE employee ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY") 

myresult = mycursor.fetchall()

for x in myresult:
  print(x)